@model IEnumerable<adocaodecachorro.Models.CachorroModel>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a asp-action="Create">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Castracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Raca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Castracao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Details", "Details", new { id = ((List<CachorroModel>)Model).IndexOf(item) }) |
                    @Html.ActionLink("Delete", "Delete", new {id = ((List<CachorroModel>)Model).IndexOf(item) })
                </td>
            </tr>
        }
    </tbody>
</table>

